body {
    margin-top: 0px;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #222;
    color: #fff;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    transition: height 100ms ease-in-out;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.3);
    z-index: 999;
}
header .img-and-occ {
    display: grid;
    justify-content: center;
}
header .img-and-occ img {
    margin-top: 20px;
    border-radius:50% ;
    border: 2px solid orange;
    object-fit: cover;
    transition: height 100ms ease-in-out;
    transition: width 100ms ease-in-out;
}
header .img-and-occ h2 {
    font-size: 18px;
}
.navigation-bar {
    height:86px;
    width: 95%;
    margin-left: 2%;
    position: relative;
    background-color: darkgrey;
    border: 2px solid #000;
    transition: margin-top 0.5s ease-in-out;
    border-radius: 30px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);

    display: flex;
    overflow: auto;
}
.navigation-bar::-webkit-scrollbar {
    display: none;
}
.navigation-bar .container {
    height: 50px;
    width: 120px;
    background-color: #f9f9f9;
    margin-top: 15px;
    border-radius: 15px;
    margin-left: 10px;
    color:#242424;

    padding: 4px;
    transition: padding 0.1s ease;
}
.navigation-bar .container:hover {
    padding: 2px;
    background-color: #222;
    color: yellow;
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.6);
}
.navigation-bar .container h3 {
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
    overflow: hidden;
}
.navigation-bar a {
    text-decoration: none;
}
#element-8 {
    margin-right: 10px;
}
.main {
    height: fit-content;
    width: 98%;
    margin-left: 1%;
    background-color: #fff;
    margin-top: 35px;
    border: 1px solid  rgba(36, 36, 36, 0.3);
    border-left: 7px solid #000;
    border-bottom:  4px solid #000;;
    border-radius: 7px;
}

.main .about, .main .skills, .main .education,
.main .contact, .main .learning, .main .resume, 
.main .project,.main .social{
    margin-left:10px;
    margin-top: 5px;
}
.main .about h1, .main .skills h1 , .main .education h1,
.main .contact h1, .main .resume h1,
.main .project h1,.main .social h1{
    margin:0px;
    margin-left: 15px;
}
.main .about hr, .main .skills hr, .main .education hr,
.main .contact hr, .main .resume hr, 
.main .project hr,.main .social hr{
    width: 98%;
    margin-top: 0px;
    border: 2px solid  rgba(36, 36, 36, 0.1);
}

.main .about p {
    font-size: 18px;
    margin-left:20px;
}
.main .skills h3 {
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.main .skills .skills-all {
    margin-top: 18px;
    margin-left: 3%;
    margin-bottom: 20px;
    height:fit-content;
    width: 95%;
    display: flex;
    border-radius: 7px;
    box-shadow: 2px 2px 5px orange;
}
.main .skills .skills-all a {
    text-decoration: none;
}
.main .skills .skills-all img {
    height: 60px;
    width: 60px;
    margin: 5px;
    padding: 5px;
    transition: padding 0.5 ease;
}
.main .skills .skills-all img:hover {
    padding: 10px;
    background-color: aliceblue;
    height: 50px;
    width: 50px;
}
.main .education .container{
    display: flex;
    position: relative;
}
.main .education .container .line {
    position: absolute;
    border: 5px solid #595959;
    width: 0px;
    height: calc(100% - 35px);
    margin-left: 15px;
    margin-top: 15px;
}
.main .education .container .block-all {
    display: grid;
    width:fit-content;
}

.main .education .container .block-all .block {
    position: relative;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 10px;
    height:fit-content;
    width: 95%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    border-left: 5px solid orange;
    border-bottom: 2px solid orange;
}

.main .education .container .block-all .block::before {
    content: "";
    position: absolute;
    top: 50%; 
    left: -42px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color:tomato;
    border-radius: 50%;
}

.main .education .container .block-all .block::after {
    content: "";
    position: absolute;
    top: 50%; 
    left: -27px; 
    transform: translateY(-50%); 
    width: 23px; 
    height: 2px; 
    background-color: orange; 
}

.main .education .container .block-all .block h2{
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 22px;
    color: #000;
    font-family: 'Segoe UI', Tahoma;
}
.main .education .container .block-all .block h3 {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 0px;
    font-size: 15px;
    color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.main .education .container .block-all .block p {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
    padding: 8px;
    font-family:monospace;
    font-weight: bold;
    margin-bottom: 2px;
}

.main .social .container {
    height: 80px;
    width: 95%;
    margin-left: 2%;
    max-width:450px;
    background-color: #f9f7f7;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid  rgba(36, 36, 36, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: margin-top 0.2 ease;
    box-shadow: 2px 2px 5px orange;
}

.main .social .container:hover {
    margin-top:25px ;
    padding: 2px;
    background-color:#fff;
    box-shadow: -3px 3px 5px orange;
}
.main .social .container a {
    text-decoration: none;
}
.main .social .container img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.main .project a {
    text-decoration: none;
}
.main .project .container {
    height: 160px;
    width: 95%;
    margin-left: 2%;
    background-color: #f9f7f7;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid  rgba(36, 36, 36, 0.3);
    border-radius: 10px;
    display: flex;
    box-shadow: 2px 2px 5px orange;
    overflow: hidden;
}
.main .project .container:hover {
    margin-top:25px ;
    padding: 2px;
    background-color:#fff;
    box-shadow: -3px 3px 5px orange;
}
.main .project .container img {
    height: 140px;
    width: 130px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px azure;
}
.main .project .container .block {
    display: block;
    margin-left: 25px;
}
.main .project .container .block h3 {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 22px;
    color:#000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.main .project .container .block p {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 18px;
    padding: 5px;
    font-family:monospace;
    font-weight: bold;
    margin-bottom: 2px;
    color: #222;
}