{% extends "base.html" %}
    <head>
        {% block style-element %}
            <style>
                #element-1 {
                    background-color: lightgreen;
                    color: #000;
                    padding: 2px;
                }
                #element-1:hover {
                    background-color: green;
                    color: #fff;
                }
            </style>
        {% endblock style-element %}
    </head>
    <body>
        {% block main-content %}
            <div class="about">
                <h1>About</h1>
                <hr>
                    <p>Hello, <u>I'm Udaykiran,</u>
                        a passionate BTech student on a journey to refine my skills and cultivate a strong entrepreneurial mindset. 
                        My goal is clear: I aim to not only excel academically but also to actively seek out opportunities that allow me to apply my knowledge in real-world scenarios. 
                        Currently, I'm eagerly pursuing internships to augment my learning experience and gain invaluable practical insights. 
                        I'm driven by a desire to continuously improve and contribute meaningfully to my field.
                    </p>
            </div>
            <script>
                const element = document.getElementById("element-1");
                element.scrollIntoView();
            </script>
        {% endblock main-content %}
    </body>