{% extends "base.html" %}
    <head>
        {% block style-element %}
            <style>
                #element-4 {
                    background-color: lightgreen;
                    color: #000;
                    padding: 2px;
                }
                #element-4:hover {
                    background-color: green;
                    color: #fff;
                }
                .main {
                    overflow : auto;
                }
                .main::-webkit-scrollbar {
                    display: none;
                }
            </style>
        {% endblock style-element %}
    </head>
    <body>
        {% block main-content %}
            <div class="education">
                <h1>Learning</h1>
                <hr>
                <div class="container">
                    <div class="line">
                    </div>
                    <div class="block-all">
                        {% for learning in learnings %}
                            <div class="block">
                                <h2>{{learning.message}}</h2>
                                <h3>--{{learning.date}}</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>  
            </div>
            <script>
                const element = document.getElementById("element-5");
                element.scrollIntoView();
            </script>
        {% endblock main-content %}
    </body>